*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    list-style-type: none;
    text-decoration: none;
}

body, html{
    width: 100%;
    height: 100%;
    font-family: 'Source Serif Pro', serif;
    display: flex;
    flex-direction: column;

    h1{font-size: 44px;}
    h2{font-size: 35px;}
    h3{}
    h4{}
    h5{}
    h6{}
}

    $colWhite : #fff;
    $colBlack : #000;
    $colSpecial : #f1cdb3;
    $colGray: #F6F6F6;
    $colGray2:#B2B2B2;

    .wrap{
        margin: 0 auto;
        max-width: 1170px;
        height: 100%;
    }

    .wrap2{
        margin: 0 auto;
        max-width: 830px;
        height: 100%;
    }

    header{
        flex-grow: 0;
        position: absolute;
        top: 0;
        left: 0;
        color: $colWhite;
        width: 100%;
        margin-top: 60px;
        z-index: 5;

        .header{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        
            .logo{
                font-size: 32px;
                color: $colSpecial;
                cursor: pointer;
            }

            .logo_text{
                font-size: 13px;
            }

            .menu{
                ul{
                    display: flex;
                    flex-direction: row;
                    font-size: 15px;

                    li{
                        margin: 0 19px;
                        border-bottom: 3px solid transparent;
                        cursor: pointer;
                    }

                    li:last-child{
                        margin-right: 0;
                    }

                    li:hover,
                    li:focus,
                    li:active{

                            border-bottom: 3px solid $colSpecial;
                            display: inline-block;
                            transition: 0.5s;
                    }
                }
            }
        }
    }      

    main{
        width: 100%;
        flex-grow: 1;

        .section_first{
            background-image: url("../img/first_section.png");
            background-size: cover;
            width: 100%;
            height: 100vh;
            color: $colWhite;
            
            .first_content{
                display: flex;
                justify-content: space-between;

                .first_text{
                    width: 100%;
                    padding-top: 360px;

                    h1{
                        letter-spacing: 4px;
                    }
                    
                    p{
                        width: 443px;
                        font-size: 15px;
                        margin-top: 40px;
                    }

                    button{
                        padding:16px 42px;
                        background-color: $colSpecial;
                        font-size: 17px;
                        border-radius: 25px;
                        margin-top: 40px;
                        cursor: pointer;
                    }
                }    

                .first_picture{
                    box-sizing: border-box;
                    position: relative;
                    bottom: 0;
                    width: 650px;
                    height: 720px;
                    margin-top: 200px;

                    img{
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        min-width: 100%; 
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

        .section_two{
            width: 100%;
            background-color: $colWhite;            
            
            .two_content{
                display: flex;
                justify-content: space-between;
                width: 100%;
                
                .two_picture{
                    box-sizing: border-box;
                    position: relative;
                    left: 0;
                    bottom: 0;
                    width: 400px;
                    height: 400px;
                    margin-top: 85px;
                    margin-bottom: 100px;

                    img{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        min-width: 300px; 
                        height: 100%;
                    }
                }

                .two_text{
                    width: 400px;
                    padding-top: 120px;

                    h2{
                        letter-spacing: 4px;
                    }
                    
                    p{
                        width: 400px;
                        font-size: 15px;
                        margin-top: 30px;
                        margin-bottom: 20px;
                    }
                }    
            }
        }

        .section_three{
            width: 100%;
            padding: 80px 0 65px 0;
            background-color: $colGray;

            .three_content{
                width: 100%;
                text-align: center;

                .slider{
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 65px 0;
                    width: 100%;

                    .slick{
                        position: relative;
                        border-radius: 50%;
                        border: solid 2px $colSpecial;
                        width: 46px;
                        height: 46px;
                        transition: 0.5s;
                        cursor: pointer;

                        img{
                            position: absolute;
                            left: 0;
                            top: 0;
                            padding: 20px 16px;
                            border-radius: 50%;
                        }
                    }

                    .slick:nth-child(1){
                        transform: scale(-1, 1);
                    }

                    .slick:hover,
                    .slick:focus,
                    .slick:active{
                        transition: 0.5s;
                        background-color: $colSpecial;
                    }
                
                    .slider__item{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        height: 425px;
                        padding: 0 75px;
                        flex-grow: 1;

                        .slider_element{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            box-sizing: border-box;
                            position: relative;
                            top: 0;
                            width: 270px;
                            height: 100%;
                            background-color: $colWhite;
                            border-radius: 9px;
                            padding: 35px 40px 30px 40px;

                            img{
                                position: absolute;
                                top: 0;
                                margin-top: 35px;
                                height: 215px;
                                object-fit: cover;
                            }

                            figcaption{
                                font-size: 20px;
                                margin-top: 270px;
                            }

                            button{
                                width: 185px;
                                padding: 11px 41px;
                                margin-top: 20px;
                                background-color: transparent;
                                border: solid 2px $colSpecial;
                                cursor: pointer;
                            }

                            button:hover,
                            button:focus,
                            button:active{
                                transition: 0.5s;
                                background-color: $colSpecial;
                            }
                        }
                        
                        .slider_element:hover,
                        .slider_element:focus,
                        .slider_element:active{
                            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
                            transition: 0.5s;
                        }
                    }
                }

                button{
                    padding: 16px 50px;
                    background-color: $colSpecial;
                    font-size: 17px;
                    border-radius: 25px;
                    cursor: pointer;
                }
            }
        }

        .section_four{
            width: 100%;
            background-color: $colWhite;
            text-align: center;
            padding-top: 65px;
            
            .four_icons{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                padding: 40px 0;

                .icon{
                    padding: 40px 65px;
                    font-size: 20px;

                    .icon_element{
                        margin-bottom: 30px;
                    }
                }
            }
        }

        .section_five{
            background-color: $colGray;
            padding: 70px 0 80px 0;
            width: 100%;

            .five_content{
                display: flex;
                width: 100%;

                .five_picture{
                    box-sizing: border-box;
                    position: relative;
                    width: 585px;
                    height: 255px;

                    img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        min-width: 495px; 
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .five_text{
                    display: flex;
                    flex-direction: column;

                    p{
                        font-size: 15px;
                        margin-top: 30px;
                    }                      
                      
                    .card{
                        display: flex;
                        align-items: center;
                        background-color: $colSpecial;
                        border-radius: 9px;
                        max-width: 290px;
                        margin: 15px 0 30px 0;
                        font-size: 20px;

                        img{
                        padding: 10px 15px;
                        }
                    }

                    i{
                        color: $colGray2;
                        width: 350px;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    footer{
        background-image: url("../img/footer.png");
        background-size: cover;
        width: 100%;
        flex-grow: 0;

        .footer{
            display: flex;
            justify-content: space-between;
            width: 100%;

            div{

                h2{
                    color: $colWhite;
                    margin-top: 80px;
                }

                li{
                    height: 45px;

                    a{
                        display: flex;
                        align-items: center;
                        color: $colSpecial;
                        font-size: 20px;
                        margin-top: 35px;

                        img{
                            height: 35px;
                            margin-right: 20px;
                        }
                    }
                }
            }

            .footer_picture{
                box-sizing: border-box;
                position: relative;
                width: 300px;
                height: 317px;
                margin-top: 51px;

                img{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    min-width: 100%; 
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }