*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    list-style-type: none;
    text-decoration: none;
}

body, html{
    width: 100%;
    height: 100%;
    font-family: 'Source Serif Pro', serif;
}

    $colWhite : #fff;
    $colBlack : #000;
    $colSpecial : #f1cdb3;

    header{

    }

    #maket{

    }

    footer{

    }